@model IEnumerable<NorthWestLabs.Models.WorkOrder>
@{
    ViewBag.Title = "ClientOrdersSummary";
}

<h2>Order Summary</h2>
<table class="table">
    <tr>
        <th>
            Order Number
        </th>
        <th>
            Order Date
        </th>
    </tr>

    <br />
    @foreach (var order in Model)
    {
       
            <tr >
                <td>
                    @order.WorkOrderID
                </td>
                <td>
                    @order.DateTime
                    <!--do we want to add a work order description field to help identify them on this page. -->
                </td>
                <td>
                    @Html.ActionLink("View Details", "ClientOrderStatus", "Client", new { ordernum = order.WorkOrderID }, null)
                </td>
            </tr>
        

    }
</table>