
@{
    ViewBag.Title = "ClientAccount";
}

<h2>Client Account</h2>
<hr />
<div class="row">
    <div>
        <h3>Account Balance</h3>
    </div>
    <div>
        <h3>Unpaid Charges</h3>
    </div>

</div>
<div>


</div>
