@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @{
                    NorthWestLabs.DAL.NorthwestLabsContext db = new NorthWestLabs.DAL.NorthwestLabsContext();
                    IEnumerable<NorthWestLabs.Models.Client> ClientList = db.Clients.ToList();
                    IEnumerable<NorthWestLabs.Models.Employee> EmployeeList = db.Employees.ToList();
                    Boolean Employee = false;
                    Boolean Client = false;
                    foreach (var item in ClientList)
                    {
                        if(item.Username == User.Identity.Name)
                        {
                            Client = true;
                        }
                    }
                    foreach (var item in EmployeeList)
                    {
                        if (item.UserName == User.Identity.Name)
                        {
                            Employee = true;
                        }
                    }
                    if (Client)
                    {
                        @Html.ActionLink("Hello " + User.Identity.Name + "!", "ClientInfo", "Client", routeValues: null, htmlAttributes: new { title = "Manage" })

                    }
                    else if (Employee)
                    {
                        @Html.ActionLink("Hello " + User.Identity.Name + "!", "EmployeeAccount", "Home", routeValues: null, htmlAttributes: new { title = "Manage" })

                    }
                }
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("LOG IN", "Login", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
