@{ if (User.Identity.IsAuthenticated)
    {
        NorthWestLabs.DAL.NorthwestLabsContext db = new NorthWestLabs.DAL.NorthwestLabsContext();
        IEnumerable<NorthWestLabs.Models.Client> ClientList = db.Clients.ToList();
        IEnumerable<NorthWestLabs.Models.Employee> EmployeeList = db.Employees.ToList();
        Boolean Client;
        Boolean SeattleEmployee;
        Boolean SingaporeEmployee;
        foreach (var item in ClientList)
        {
            if (item.Username == User.Identity.Name)
            {
                Client = true;
            }
        }
        foreach (var item in EmployeeList)
        {
            if (item.UserName == User.Identity.Name)
            {
                if (item.Location == "Singapore")
                {
                    SingaporeEmployee = true;
                    <li class="nav-item">
                        <span class="nav-link js-scroll-trigger">@Html.ActionLink("EMPLOYEE PORTAL", "Index", "Singapore")</span>
                    </li>
                }
                else
                {
                    SeattleEmployee = true;
                    <li class="nav-item">
                        <span class="nav-link js-scroll-trigger">@Html.ActionLink("EMPLOYEE PORTAL", "SeattleIndex", "Seattle")</span>
                    </li>
                }
            }
        }








    }
}