
@{
    ViewBag.Title = "DownloadResults";
}
<div style="padding-bottom:10px; float:right">@Html.ActionLink("Return to Employee Portal", "SeattleIndex", "Seattle", null, new { @class = "btn btn-primary btn default" })</div>

<h2>Download Test Results</h2>

<form action="" method="post" enctype="multipart/form-data">
    <br />
    <label for="file">Filename</label>
    <input type="file" name="file" id="file" />
    <br />
    <input type="submit" />
</form>