
@{
    ViewBag.Title = "ManagementReports";
}
<p>
    
    <div style="padding-bottom:10px; float:right">@Html.ActionLink("Return to Employee Portal", "SeattleIndex", "Seattle", null, new { @class = "btn btn-primary btn default" })</div>
</p>

<h2>Generate Management Reports</h2>
<br /><br />

<img src="~/img/tableaudashboard2.jpg" class="img-fluid" alt="Tableau Dashboard">