@{
    ViewBag.Title = "Login";
}





<br />


@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{

    <div style="text-align:center">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
        </span>
    </div>
   
    <br />
   
    @*<div class="row">
        <div class="col-md-12" style="text-align:center">
            <h2>Log in</h2>
        </div>
    </div>*@

    <div class="row">
        <div class="col-lg-12" style="text-align:center">
            <label for="inputUser">Username</label>
            @Html.TextBox("UserName")
            <br />
            <br />
            <label for="inputPassword">Password</label>
            @Html.Password("Password")
        </div>
    </div>
    

    <br />
    <br />
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <button type="submit">Login</button>
        </div>
    </div>
}

<br />
<br />
<br />

<p class="text-muted"><i>New Client?  Please call 555-867-5309 to speak with a one of our dedicated team members, who will help you make an account and get your order placed! </i></p>
